@import "../../HTML&CSS/colors.scss";

.slider {
  max-width: 100%;
  padding: 40px;
  background-color: $lavender;

  @media (max-width: 768px) {
    padding: 20px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    gap: 5%;
    padding: 0;
    list-style: none;
    overflow-x: auto;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  &__item {
    flex: 1 0 25%;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: $white;
    border-radius: 10px;
  }

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }

  &__buttons {
    display: flex;
    gap: 10px;
  }

  &__button {
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 50%;
    background-color: $white;
    cursor: pointer;
    transition: background-color 0.1s linear;

    img {
      width: 20px;
      height: 20px;
    }

    &_prev img {
      transform: rotate(-90deg);
    }

    &_next {
      transform: rotate(90deg);
    }

    &_disabled {
      cursor: not-allowed;
      background-color: $light-gray;
    }
  }
}
