@import '../colors.scss';

.about {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    row-gap: 30px;
    padding-top: 30px;
    text-align: center;

    &__title {
        margin: 0;
        text-transform: uppercase;
        font-size: 28px;
        letter-spacing: .5em;
    }

    &__underline {
        margin: 0 auto;
        width: 50px;
        border: 1px solid $black;
    }

    &__text {
        width: 85%;
        margin: 0 auto;
        color: $dark-gray;
        line-height: 30px;
    }

    &__params {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;

        @media(max-width: 768px) {
            grid-auto-flow: row;
            row-gap: 40px;
        }
    }
}

.param {

    &:first-child .param__delimiter::before, &:last-child .param__delimiter::after {
        visibility: hidden;

        @media(max-width: 768px) {
            visibility: visible;
        }
    }

    &__delimiter {
        padding-inline: 0;
        display: grid;
        grid-template-columns: 1fr auto 1fr;
        grid-gap: 1em;
        align-items: center;
        &::before, &::after {
            content: "";
            border-bottom: 2px solid $light-gray;
        }
    }

    &__icon-container {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 2px solid $light-gray;
    }

    &__inner {
        margin-top: 40px;
        padding: 0 20px;
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 40px;
        box-sizing: border-box;
    }

    &__title {
       text-transform: uppercase;
       font-size: 20px;
       letter-spacing: .3em;
    }

    &__description {
        text-align: center;
    }
}